
        <div class="contenido-superior vacante contenedor">
            <div class="caja">
                <p class="etiqueta">Empresa</p>
                {{#each vacante}}<p class="nombre">{{empresa}}</p> {{/each}}
            </div>
            <div class="caja">
                <p class="etiqueta">Ubicacion</p>
                {{#each vacante}}<p class="nombre">{{ubicacion}}</p>{{/each}}
            </div>
            <div class="caja">
                <p class="etiqueta">Contrato</p>
                {{#each vacante}}<p class="nombre contrato">{{contrato}}</p>{{/each}}
            </div>
            <div class="caja">
                <p class="etiqueta">Salario</p>
                {{#each vacante}}<p class="nombre">{{salario}}</p>{{/each}}
            </div>
        </div>      




        {{!-- Descripcion del puesto --}}
        <div class="vacante-contenedor contenedor">
            <main class="contenido">
                <h2>Descripcion del Puesto</h2>
                <div class="vacante-descripcion">
                    {{#each vacante}}   {{{descripcion}}}   {{/each}}
                </div>
                <a href="/vacantes/editar/{{#each vacante}}{{url}}{{/each}}"class="btn btn-azul editar-btn ">Editar vacante</a>
            </main>
            <aside class="sidebar">
                <h2>Conocimientos Deseados</h2>
                <ul class="skills">
                    {{#each vacante}}
                        
                         {{#each skills}}   <li>{{{this}}}</li>   {{/each}}
                    {{/each}}
                </ul>
            </aside>
        </div>                

<div class="contenedor datos-reclutador">
    <div class="enviar-datos">
        <h2>Contactar Reclutador</h2>
        <p>Llena el siguiente formulario,sube tu curriculum y pronto te contactaremos</p>
        <form method="POST" action="/vacantes/{{vacante.url}}" class="default-form" enctype="multipart/form-data">
            <div class="campo">
                <label>Nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="Tu nombre">
            </div>
             <div class="campo">
                <label>E-mail</label>
                <input type="email" name="email" id="email" placeholder="Tu email">
            </div>
            <div class="campo">
                <label>CV (PDF)</label>
                <input type="file" name="cv">
            </div>
             <div class="campo">
                <input type="submit" class="btn btn-verde" value="Enviar">
            </div>
        </form>

    </div>
    <div class="info-reclutador">
        <h2>Informacion Reclutador</h2>
        {{#if vacante.autor.nombre}}
            <p>{{vacante.autor.nombre}}</p>
        {{/if}}
         {{#if vacante.autor.imagen}}
            <img src="/uploads/perfiles/{{vacante.autor.imagen}}">
        {{/if}}
    </div>
</div>



